Brotli
certifi
chardet
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
gunicorn
heroku
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
plotly
python-dateutil
pytz
requests
retrying
scikit-learn
scipy
six
sklearn
threadpoolctl
urllib3
Werkzeug
elasticsearch